/* Write your CSS here */
.notfoundcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}
@media screen and (max-width: 576px) {
  .notfoundcontainer {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  }
}
@media screen and (min-width: 577px) {
  .notfoundcontainer {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  }
}
